@import 'src/style/function';

.calendar-cell {
  .size(3.5rem, auto, 1rem);
  .flex-vertical-list;
  align-content: center;
  .background(none, var(--background-secondary));
  cursor: pointer;
  padding: 0.3rem;


  &.selected {
    .background(var(--system-blue), var(--tag-label-blue));

    .calendar-cell-date {
      // 点击的时候不要延迟
      transition-duration: 0s;
      color: var(--system-white);
    }

    .calendar-cell-detail {
      .calendar-cell-amount {
        color: rgba(255, 255, 255, .8);

        &.amount-expenditure {
          color: var(--tag-background-pink);
        }

        &.amount-income {
          color: var(--tag-background-green);
        }
      }
    }
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      background: none;
    }

    .calendar-cell-date {
      color: var(--label-quaternary);
    }
  }

  .calendar-cell-date {
    .default-font(1.5rem);
    .flex-diagonal-center;
    .full-width(2rem);
  }

  .calendar-cell-detail {
    .font(0.8rem, @default-font-weight, var(--label-tertiary));
    .full-width(auto);
    text-align: center;

    .calendar-cell-amount {
      .full-width(1rem);
      .ellipsis-line;
      .flex-horizontal-start;

      &.amount-expenditure {
        color: var(--icon-brown);
      }

      &.amount-income {
        color: var(--icon-green);
      }
    }
  }
}