.flex-diagonal-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical-center() {
  display: flex;
  align-items: center;
}

.flex-horizontal-center() {
  display: flex;
  justify-content: center;
}

.flex-space-around() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-space-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}