.flex-diagonal-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical-center() {
  display: flex;
  align-items: center;
}

.flex-horizontal-center() {
  display: flex;
  justify-content: center;
}

.flex-space-around() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-space-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-horizontal-list() {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.flex-vertical-list() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // 换行没有间距
  align-content: flex-start;
}