@import 'src/style/function';

.drag-list {
  .list {
    list-style: none;

    .drag-move {
      transition: transform .3s;
    }

    .list-item {
      cursor: move;
      width: 300px;
      background: #EA6E59;
      border-radius: 4px;
      color: #FFF;
      margin-bottom: 6px;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }
}